@font-face {
  font-family: $font-george-x;
  src:
    url("../fonts/georgex-regular.woff2") format("woff2"),
    url("../fonts/georgex-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-suisse-bp;
  src:
    url("../fonts/suissebpIntl-regular.woff2") format("woff2"),
    url("../fonts/suissebpIntl-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-suisse-bp;
  src:
    url("../fonts/suissebpIntl-light.woff2") format("woff2"),
    url("../fonts/suissebpIntl-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-suisse-bp;
  src:
    url("../fonts/suissebpIntl-ultralight.woff2") format("woff2"),
    url("../fonts/suissebpIntl-ultralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
